# Scratch / transient outputs
output/scratch/
output/tmp/

# Logs (optional: ignore or selectively commit)
output/logs/*.log

__pycache__/
.DS_Store

# LaTeX auxiliary / build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Ignore the big EMJR dataset (b/c over 100mb)
references/openicpsr_wu2018_replication-pkg/gendered_posts.csv